@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  position: fixed;
  margin: 0;
  width: 375px;
  height: 718px;
  border: 1px solid lightgrey;
  align-items: center;
  left: 34%;
  right: 66%;
  overflow: hidden;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 46px;
  width: 375px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 16px;
  border: 1px solid lightgrey;
  margin-left: 21px;
}

.timeparagraph {
  font-size: 14px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.icons {
  margin-right: 16px;
  border: 1px solid black;
  height: 16px;
}

.container {
  height: 672px;
  width: 375px;
  border: 1px solid red;
}

div.logo-menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 46px;
  border: 1px solid yellow;
  top: 46px;
}

p.logo {
  margin-left: 12px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
}

.fa-bars {
  margin-right: 24px;
  color: #6070ff;
  height: 24px;
  width: 24px;
  margin-top: 8px;
}

.main-container {
  position: fixed;
  margin-top: 92px;
  width: 375px;
  height: 626px;
  background-image: url("./images/header-shapes.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  display: flex;
  align-items: center;
  width: 327px;
  height: 150px;
  border: 1px solid pink;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 28px;
  color: #172b4d;
  margin-left: 24px;
  margin-top: 114px;
}

.titleText {
  display: flex;
  align-items: center;
  width: 327px;
  height: 146px;
  border: 1px solid pink;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #172b4d;
  margin-left: 24px;
  margin-top: 26px;
  line-height: 24px;
}

.connect {
  display: flex;
  width: 119px;
  height: 24px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
  margin-top: 20px;
}
