body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.btn {
  width: 93px;
  height: 48px;
  border: 1px solid lightgray;
  background: white;
  color: #6070ff;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  border-radius: 8px;
  letter-spacing: 0.03em;
  padding: 12px;
  transition: all 900ms ease;
}

.btn:visited {
  background-color: white;
  color: #5e6c84;
  border: 1px solid #6070ff;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  letter-spacing: 0.03em;
  padding: 12px;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}

.btn:hover {
  background-color: #6070ff;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  padding: 12px;
  letter-spacing: 0.03em;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}

.btn:focus {
  background-color: #2230d2;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500px;
  border-radius: 8px;
  letter-spacing: 0.03em;
  padding: 12px;
  box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
}
